@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kanit&family=Rampart+One&family=Ubuntu&display=swap');

/* *{
    box-sizing: border-box;
} */
body{
    margin: 0px;
    padding: 0px;
    background: url(background.jpg);
    background-size: cover;
    /* width: fit-content; */
    /* background-color:rgb(15, 195, 195); */
}
/* header{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    }
    header .logo{
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    
    }
    header .logo .red{
        color: #fd4848;
        
    }
    header .logo .rred{
        color: beige ;
        margin:5px;
        font-size: 40px;
       
    }
    
    header .logo span{
    font-size: 42px;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
    }
    header .navigation{
    display: flex;
    float: right;
    margin-right: 200px;
    
    }
    header .navigation li{
    list-style: none;
    padding: 15px;
    
    
    
    }
    header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500px;
    }
    header.sticky .navigation li a{
    color: #111;
    position: absolute;
    
    } 
    
     header .navigation li a:hover{
    color: #fd523c;
    } 
     */
    
    
    .banner{
        /* display: flex; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* margin: auto; */
       
        /* height:100vh; */
        
        
        

        
    
    }
    .controler{
        display: flex;
        
        height: 85vh;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        /* text-align: center; */
        
        
    }
    /* .controler:hover{
        display: flex;
        flex-wrap: wrap;
    } */
    .rightside{
        /* border: 1px solid black; */
        display: flex;
        text-align: center;
        
        align-items: center;
        height: 70vh;
        width: 59.9;
        /* box-sizing: border-box; */
    
    }
    .container {
        display: flex;
        justify-content: center;
        width: 39.9%;
        align-items: center;
        /* border:  1px solid black; */
        height: 70vh;
        /* 1:1 Aspect Ratio */
       
         }
   
    
    .mainhead{
      font-size: 3em;
      font-family: 'Rampart One', cursive;
      
        opacity: 0.8;
    }
    .head{

    
    margin: 100px;

    }
    
    
    .button{

     

        font-size: 2.1em;
        color: #fff;
        background: #fd4848;
       
        padding: 10px 30px;
        
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        border-radius: 40px;
        border-color:#3cfce5 ;
        font-family: 'Ubuntu', sans-serif;
        opacity: 0.8;
        box-shadow: 5px 5px 5px rgba(0, 0,0, 0.1),
        15px 15px 15px rgba(0, 0,0, 0.1),
        20px 20px 15px rgba(0, 0,0, 0.1),
        30px 30px 15px rgba(0, 0,0, 0.1);
    
    }
    .button:hover{
        letter-spacing: 4px;
        
    }
    .input-search{
        

        /* width: 520px; */
        
       
        padding: 10px 30px;
       
        border-radius: 40px;
        transition: 0.5s;
        color: rgb(91, 55, 189);
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        border-color:#3cfce5;
       
        opacity: 0.8;
        box-shadow: 5px 5px 5px rgba(0, 0,0, 0.1),
        15px 15px 15px rgba(0, 0,0, 0.1),
        20px 20px 15px rgba(0, 0,0, 0.1),
        30px 30px 15px rgba(0, 0,0, 0.1);
    
        
        
    }
    .input-search:hover{
        word-spacing: 3px;
    }
  
      
      
    iframe {
        border-color: #3cfce5;
         height: 90%;
         width: 60%;
         /* position: absolute; */
        
         

         border-radius: 30px;
         /* margin-top: 10%;
         margin-left: 4%;
         display:flex; */
        
    
         /* diable click any tag */
         pointer-events: none;
    
       opacity: 0.8;
       box-shadow: 5px 5px 5px rgba(0, 0,0, 0.1),
        15px 15px 15px rgba(0, 0,0, 0.1),
        20px 20px 15px rgba(0, 0,0, 0.1),
        30px 30px 15px rgba(0, 0,0, 0.1);
        transition: 0.5s;
        
    
    }
    
    /* }iframe:hover{
    
        height: 30%;
         width: 28%;
     
         */
/*applying transition on list by giving same class name to all list element */

/* 
header ul li .home{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
header ul li:hover .home{
    opacity: 1;
    visibility: visible;

} */
/*applying transition on every list seprately with difrrent class name*/



/* header ul li .menu{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
header ul li:hover .menu{
    opacity: 1;
    visibility: visible;

}
header ul li .about{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
header ul li:hover .about{
    opacity: 1;
    visibility: visible;

}
header ul li .contact{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
header ul li:hover .contact{
    opacity: 1;
    visibility: visible;

} */

.topnav {
  
    /* background-color: rgb(89, 218, 218); */
    /* height: 100px; */
   display: flex;
   justify-content: space-between;
   padding: 26px 16px;
   /* width: 200vh; */
  }
  
  .topnav a {
    color: #fd6464;
    text-align: center;
    padding: 26px 16px;
   
    text-decoration: none;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .rred{
    font-size: 40px;
  }
  .navl{
   margin: 40px 45px;
    font-size: 21px;
  }
  .navr{
    margin: 20px 45px;
  }
  
  .navl a:hover {
   
    color: rgb(201, 10, 10);
  }
  
  /* .topnav a.active {
    background-color:rgb(89, 218, 218);
    color: rgb(239, 85, 85);
    
  } */
  
  .topnav .icon {
    display: none;
    color: black;

    
  }
  .foot{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 5px;
    color: #fff;
    text-decoration: none;
    bottom: 0;
  }
  
  .f-22{
    display: inline-block;
    text-decoration: none;
    margin: 5px;
  }
  
  @media screen and (max-width: 586px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    /* .test{
      display: block;
      padding: 20px;
      border-radius: 50%;
      background-color:#fd4848 ;
    } */

  }

  
  @media screen and (max-width: 586px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 25px 40px;
      /* margin-right: 30px;
      margin-top: 30px; */
    }
    .topnav{
      padding: 0%;
    }
    .topnav a {
      float: none;
      display: block;
      text-align: left;
      padding: 0px;
    }
    .button{
     font-size: 20px;
      padding: 5px 15px;
      border: none;
  
  }
  .button:hover{
      letter-spacing: 2px;   
  }
  .input-search{
      border: none;  
font-size: 0.8em;
    width: 150px;
    height: 20px;
    
}
.input-search:hover{
    word-spacing: 2px;
}
.mainhead{
  font-size: 35px;
  font-family: 'Rampart One', cursive;
  
    opacity: 0.8;
}
.rred{
  font-size: 25px;
}
.container{
  width: 300px;
  height: 300px;
}
iframe {
  border-color: #3cfce5;
   height: 100%;
   width: 100%;

   border-radius: 30px;


}
.head {
  margin: 50px;
}

}
@media screen and (max-width: 690px){
  .topnav {
    padding: 5px;

   
}
}
